	slider {
		display:     block;
		position:    relative;
		height:      30px;
		width:       200px;
		margin-top: 10px;
	}

	slider span.bar {
		height:     50%;
		z-index:    0;
		left:		0;
		//background: #eee;
		background:	linear-gradient(to right,#aaa,#eee);
		top:        25%;
		cursor:     pointer;
		float:		right;
		border-radius:	  4px 4px 4px 4px;
		border-color:	#eee;
	
	}

	slider span.bar.selection, slider span.bar.unselected {
	}

	slider span.bar.selection {
		background: #0a0;
		opacity:    0.5;
	}

	slider span.bar.unselected {
		width:      auto;
		background: #a00;
		opacity:    0.5;
	}

	slider span.pointer {
		cursor:           pointer;
		width:            15px;
		top:              0;
		bottom:           0;
		background: linear-gradient(#aaf, #00a);
		border-radius:	  4px 4px 4px 4px;
	}

	slider span.pointer:hover {
	}

	slider span.pointer.active {
	}

	slider span.bubble {
		font-size:   0.6em;
		line-height: 1.8em;
		font-family: sans-serif;
		text-align:  center;
		text-shadow: none;
		top:         -1.3em;
		cursor:      pointer;
		color:		#999;
	}

	slider span.bubble.selection, slider span.bubble.limit {
		top: 25%;
	}

	slider span.bubble.selection {
	}

	slider span.bubble.limit {
	}

	slider span.bubble.low, slider span.bubble.high {
	}

	::-ms-tooltip {
		display: none;
	}


	div.slider {
		background-color: #fafafa;
		border-style: solid;
		border-width: 1px;
		border-color: #ddd;
		border-radius: 4px 4px 0 0;
		margin: 5px 10px;
		padding: 4px 5px;
		width: 225px;
	}

	div.section {
		display: block;
		margin-bottom: 20px;
	}
