<!doctype html>
<html lang="en" ng-app="glowythingsDemoApp">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
	<title>Glowy Things!</title>
	<link rel="stylesheet" type="text/css" href="/demo/bower_components/ionic/release/css/ionic.css">
	<link rel="stylesheet" type="text/css" href="/demo/demo.css">
	<script src="/demo/bower_components/ionic/release/js/ionic.bundle.js"></script>
	<script src="/demo/demo.js"></script>
</head>
<body ng-controller="glowythingsController" animation="slide-left-right-ios7">
	
<ion-scroll>
<ion-header-bar class="bar-stable">
<h1 class="title">
	Glowy Things
</h1>
</ion-header-bar>
<ion-content class="has-header">

<div>{{error}}</div>

<ul class="list">
	<li class="item">
		<div class="range range-light" id="all">
			Everything 
			<i class="icon ion-ios7-sunny"></i>
			<input type="range" name="all" ng-model="data.all" min="0" max="254" ng-change="update('all')"></input>
			<i class="icon ion-ios7-sunny-outline"></i>
		</div>
	</li>
</ul>

<ul class="list">
	<li class="item">
		<div class="range range-assertive" id="redRing">
			Red / Ring 0
			<i class="icon ion-ios7-sunny"></i>
			<input type="range" name="red" ng-model="data.red" min="0" max="254" ng-change="update('red')"></input>
			<i class="icon ion-ios7-sunny-outline"></i>
		</div>
	</li>
	<li class="item">
		<div class="range range-energized" id="orangeRing">
			Orange / Ring 1
			<i class="icon ion-ios7-sunny"></i>
			<input type="range" name="orange" ng-model="data.orange" min="0" max="254" ng-change="update('orange')"></input>
			<i class="icon ion-ios7-sunny-outline"></i>
		</div>
	</li>
	<li class="item">
		<div class="range range-energized" id="yellowRing">
			Yellow / Ring 2
			<i class="icon ion-ios7-sunny"></i>
			<input type="range" name="yellow" ng-model="data.yellow" min="0" max="254" ng-change="update('yellow')"></input>
			<i class="icon ion-ios7-sunny-outline"></i>
		</div>
	</li>
	<li class="item">
		<div class="range range-balanced" id="greenRing">
			Green / Ring 3
			<i class="icon ion-ios7-sunny"></i>
			<input type="range" name="green" ng-model="data.green" min="0" max="254" ng-change="update('green')"></input>
			<i class="icon ion-ios7-sunny-outline"></i>
		</div>
	</li>
	<li class="item">
		<div class="range range-positive" id="blueRing">
			Blue / Ring 4
			<i class="icon ion-ios7-sunny"></i>
			<input type="range" name="blue" ng-model="data.blue" min="0" max="254" ng-change="update('blue')"></input>
			<i class="icon ion-ios7-sunny-outline"></i>
		</div>
	</li>
	<li class="item">
		<div class="range range-light" id="whiteRing">
			White / Ring 5
			<i class="icon ion-ios7-sunny"></i>
			<input type="range" name="white" ng-model="data.white" min="0" max="254" ng-change="update('white')"></input>
			<i class="icon ion-ios7-sunny-outline"></i>
		</div>
	</li>
</ul>

<ul class="section list-inline">
	<li class="item">
		<div class="range" id="l_0_0">
			Leg 0 Ring 0
			<i class="icon ion-ios7-sunny"></i>
			<input type="range" ng-model="data.l_0_0" min="0" max="254" ng-change="update('l_0_0')"></input>
			<i class="icon ion-ios7-sunny-outline"></i>
		</div>
	</li>
	<li class="item">
		<div class="range" id="l_1_0">
			Leg 1 Ring 0
			<i class="icon ion-ios7-sunny"></i>
			<input type="range" ng-model="data.l_1_0" min="0" max="254" ng-change="update('l_1_0')"></input>
			<i class="icon ion-ios7-sunny-outline"></i>
		</div>
	</li>
	<li class="item">
		<div class="range" id="l_2_0">
			Leg 2 Ring 0
			<i class="icon ion-ios7-sunny"></i>
			<input type="range" ng-model="data.l_2_0" min="0" max="254" ng-change="update('l_2_0')"></input>
			<i class="icon ion-ios7-sunny-outline"></i>
		</div>
	</li>
	<li class="item">

		<div class="range" id="l_0_1">
			Leg 0 Ring 1
			<i class="icon ion-ios7-sunny"></i>
			<input type="range" ng-model="data.l_0_1" min="0" max="254" ng-change="update('l_0_1')"></input>
			<i class="icon ion-ios7-sunny-outline"></i>
		</div>
	</li>
	<li class="item">
		<div class="range" id="l_1_1">
			Leg 1 Ring 1
			<i class="icon ion-ios7-sunny"></i>
			<input type="range" ng-model="data.l_1_1" min="0" max="254" ng-change="update('l_1_1')"></input>
			<i class="icon ion-ios7-sunny-outline"></i>
		</div>
	</li>
	<li class="item">
		<div class="range" id="l_2_1">
			Leg 2 Ring 1
			<i class="icon ion-ios7-sunny"></i>
			<input type="range" ng-model="data.l_2_1" min="0" max="254" ng-change="update('l_2_1')"></input>
			<i class="icon ion-ios7-sunny-outline"></i>
		</div>
	</li>
	<li class="item">
		<div class="range" id="l_0_2">
			Leg 0 Ring 2
			<i class="icon ion-ios7-sunny"></i>
			<input type="range" ng-model="data.l_0_2" min="0" max="254" ng-change="update('l_0_2')"></input>
			<i class="icon ion-ios7-sunny-outline"></i>
		</div>
	</li>
	<li class="item">
		<div class="range" id="l_1_2">
			Leg 1 Ring 2
			<i class="icon ion-ios7-sunny"></i>
			<input type="range" ng-model="data.l_1_2" min="0" max="254" ng-change="update('l_1_2')"></input>
			<i class="icon ion-ios7-sunny-outline"></i>
		</div>
	</li>
	<li class="item">
		<div class="range" id="l_2_2">
			Leg 2 Ring 2
			<i class="icon ion-ios7-sunny"></i>
			<input type="range" ng-model="data.l_2_2" min="0" max="254" ng-change="update('l_2_2')"></input>
			<i class="icon ion-ios7-sunny-outline"></i>
		</div>
	</li>
	<li class="item">
		<div class="range" id="l_0_3">
			Leg 0 Ring 3
			<i class="icon ion-ios7-sunny"></i>
			<input type="range" ng-model="data.l_0_3" min="0" max="254" ng-change="update('l_0_3')"></input>
			<i class="icon ion-ios7-sunny-outline"></i>
		</div>
	</li>
	<li class="item">
		<div class="range" id="l_1_3">
			Leg 1 Ring 3
			<i class="icon ion-ios7-sunny"></i>
			<input type="range" ng-model="data.l_1_3" min="0" max="254" ng-change="update('l_1_3')"></input>
			<i class="icon ion-ios7-sunny-outline"></i>
		</div>
	</li>
	<li class="item">
		<div class="range" id="l_2_3">
			Leg 2 Ring 3
			<i class="icon ion-ios7-sunny"></i>
			<input type="range" ng-model="data.l_2_3" min="0" max="254" ng-change="update('l_2_3')"></input>
			<i class="icon ion-ios7-sunny-outline"></i>
		</div>
	</li>
	<li class="item">

		<div class="range" id="l_0_4">
			Leg 0 Ring 4
			<i class="icon ion-ios7-sunny"></i>
			<input type="range" ng-model="data.l_0_4" min="0" max="254" ng-change="update('l_0_4')"></input>
			<i class="icon ion-ios7-sunny-outline"></i>
		</div>
	</li>
	<li class="item">
		<div class="range" id="l_1_4">
			Leg 1 Ring 4
			<i class="icon ion-ios7-sunny"></i>
			<input type="range" ng-model="data.l_1_3" min="0" max="254" ng-change="update('l_1_4')"></input>
			<i class="icon ion-ios7-sunny-outline"></i>
		</div>
	</li>
	<li class="item">
		<div class="range" id="l_2_4">
			Leg 2 Ring 4
			<i class="icon ion-ios7-sunny"></i>
			<input type="range" ng-model="data.l_2_4" min="0" max="254" ng-change="update('l_2_4')"></input>
			<i class="icon ion-ios7-sunny-outline"></i>
		</div>
	</li>
	<li class="item">
		<div class="range" id="l_0_5">
			Leg 0 Ring 5
			<i class="icon ion-ios7-sunny"></i>
			<input type="range" ng-model="data.l_0_5" min="0" max="254" ng-change="update('l_0_5')"></input>
			<i class="icon ion-ios7-sunny-outline"></i>
		</div>
	</li>
	<li class="item">
		<div class="range" id="l_1_5">
			Leg 1 Ring 5
			<i class="icon ion-ios7-sunny"></i>
			<input type="range" ng-model="data.l_1_5" min="0" max="254" ng-change="update('l_1_5')"></input>
			<i class="icon ion-ios7-sunny-outline"></i>
		</div>
	</li>
	<li class="item">
		<div class="range" id="l_2_5">
			Leg 2 Ring 5
			<i class="icon ion-ios7-sunny"></i>
			<input type="range" ng-model="data.l_2_5" min="0" max="254" ng-change="update('l_2_5')"></input>
			<i class="icon ion-ios7-sunny-outline"></i>
		</div>
	</li>
</ul>
</ion-content>
</ion-scroll>
</body>
</html>
